<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My App{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      {% if current_user.is_authenticated %} Hello, {{ current_user.username }}
      |
      <a href="{{ url_for('logout') }}">Log out</a>
      {% else %}
      <a href="{{ url_for('login') }}">Log in</a> |
      <a href="{{ url_for('register') }}">Register</a>
      {% endif %} | <a href="{{ url_for('index') }}">Home</a> |
      <a href="{{ url_for('view_items') }}">View Items</a>
    </nav>
    <main>{% block content %}{% endblock %}</main>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
